body {

}

header {
    text-align: center;
}

.nav {
    background-color: rgb(0, 183, 255);
    color: white;
    margin: 20px auto;
    width: 95%;
}

.nav ul {
    list-style: none;
}

.nav li {
    display: inline-block;
    padding: 10px;
}

.nav a {
    color: white;
    text-decoration: none
}

#nav-home {
    
}

.body {
    margin-left: 65px;
    margin-right: 65px;
}

.section-a {
    background-color: rgb(202, 201, 201);
    color: rgb(71, 71, 71);
    padding: 10px;
}

h2 {
    color:  rgb(0, 183, 255);
}

.comments {
    background-color: rgb(255, 136, 0);
}

.comments li {
    list-style: none;
    color: white;
    display: inline;
    padding-right: 30px;
}



