body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    margin-top: 20px;
}

.nav {
    display: flex;
    background-color: #52a7fa;
    color: white;
    padding: 10px;
    width: 90%;
    align-items: baseline;
    margin: 25px;
}

.nav h1 {
    font-size: 2.5em;
}

.nav a {
    color: white;
    padding-left: 90px;
    font-size: 1.5em;
    text-decoration: none;

}

#home {
    font-weight: lighter;
}

#categories {
    font-weight: bolder;
}

.body {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 80%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 250px;
    background-color: #dddee0;
    margin: 10px;
    height: 200px;
}

#language {
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 20px;
    align-self: center;
    margin-bottom: 50px;
}

#articles {
    justify-self: flex-end;
    align-self: center;
    color: #88898a;
    padding-bottom: 10px;
}

