.container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.top {
    background-color: #43a2ff;
    height: 200px;
}

.bottom {
    display: flex;
    /* border: 1px solid red; */
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

.outer-box {
    display: flex;
    flex-direction: column;
    background-color: #f05fa7;
    width: 200px;
    height: 180px;
    justify-content: flex-start;
    align-items: center;
}

.inner-box {
    background-color: #f8ba02;
    height: 60px;
    width: 80%;
    margin-top: 10px;
}

.outer-box p {
    font-size: 1.5em;
    font-weight: bold;
}